name: mlproject-ci

on:
  push:
    branches: [ main ]

jobs:
  train-model:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.10'

    - name: Check Env
      run: |
        python --version
        pip --version

    - name: Install dependencies
      run: |
        pip install -r MLProject/requirements.txt
        pip install mlflow

    - name: Set MLflow Tracking URI
      run: |
        export MLFLOW_TRACKING_URI=https://dagshub.com/Aresyifa/mlsystem-spotify-aren.mlflow
        echo "MLflow Tracking URI set"

    - name: Run training script
      run: |
        python MLProject/modelling.py \
          --data_path MLProject/dataset_preprocessing/spotify_preprocessed_train.csv

    - name: Upload artifacts (mlruns)
      uses: actions/upload-artifact@v4
      with:
        name: mlflow-artifacts
        path: mlruns

    - name: Upload to Google Drive
      run: |
        zip -r mlruns.zip mlruns
        echo "Artifact siap diupload ke Google Drive (bukti skilled)"